<% include partials/header %>

<div class="row">
    <h1 style="text-align: center;">Add Project</h1>
    <div style="width: 30%; margin: 30px auto; ">
        <form method="post" action="/addproject">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" name="name"></input>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Project Code" name="code"></input>
            </div>
            <div class="form-group">
                <input class="form-control" type="textarea" placeholder="Details" name="details"></input>
            </div>
            <div class="form-group">
                <input class="form-control" type="date" placeholder="Last Bidding Date" name="lastBiddingDate" id="biddingDate">
                </input>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-primary btn-block">Submit</button>
            </div>    
        </form>
        <% if(msg != ""){
        	if(msg == "Project successfully added."){
        		%>
            	<div class="alert alert-success alert-dismissable"><%= msg %></div> 
        	<% } else{ %>
        		<div class="alert alert-danger alert-dismissable"><%= msg %></div>
        	<%	}	%>
        <% } %>
    </div>
</div>

<% include partials/footer %>